/* This HTML tag applied background and disables scrolling */
HTML
{
    /* Applies background url and attributes*/
	background: url(Images/background.jpg) no-repeat center center fixed;
	
    /* Stretches content of background to fit window size*/
    -webkit-background-size: cover;
    background-size: cover;

    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h1 {
  font-family: "Arial Black", Gadget, sans-serif;
  color: rgb(200,200,200);
}

h2 {
  font-family: "Arial Black", Gadget, sans-serif;
  color: rgb(200,200,200);
}

P {
  display:block;
  width:90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  color: rgb(161,161,161);
}

/*
 * Creates a really nice paragraph wrapped
 * with smooth border application.
 */
.Board 
{
  background-color: rgba(25,25,25,0.8);
  font-family:Verdana;
  font-size:98%;
  margin-left:auto;
  margin-right: auto;
  margin-bottom: 50px;
  padding: 15px;
  border-radius: 25px;
  width:75%;
  text-align-last:center;
  -webkit-box-shadow: 0 1px 0 0 rgba(255,255,255,0.298039) inset, 0 -1px 1px 0 rgba(255,255,255,0.14902) inset, 0 5px 0 0 rgb(50,50,50) , 10px 20px 0px 0 rgba(0,0,0,0.2);
  box-shadow: 0 1px 0 0 rgba(255,255,255,0.298039) inset, 0 -1px 1px 0 rgba(255,255,255,0.14902) inset, 0 5px 0 0 rgb(50,50,50) , 10px 20px 0px 0 rgba(0,0,0,0.2);
}

.ProjImgPreview
{
	padding:10px;
	width:40%;
	height:auto;
}

.SeeMore
{
	float:left;
}

.ThumbNails
{
	width:25%;
	height:auto;
	border:5px solid white;
	border-radius: 5px;
}

.IconProperties
{
  max-width:32px;
  max-height:32px;
  position
  float: left;
  margin-left:auto;
  margin-right:auto;
}

#MainTitleImg {
  margin-left: auto;
  margin-right: auto;
  width:100%;
  height:auto;
}

#Portrait
{
	float:right;
	-ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
}

#SplashScreen00
{
	float:left;
	-ms-transform: rotate(-3deg); /* IE 9 */
    -webkit-transform: rotate(-3deg); /* Chrome, Safari, Opera */
    transform: rotate(-3deg);

}

/* Rainbow colours
#FF0000 - BvB
#FF8000 - TinyTanks
#FFFF00 - BitWise
#80FF00 - AI
#00FF00
#00FF80
#00FFFF
#0080FF
#0000FF
#8000FF
#FF00FF
#FF0080	*/
