
.button-normal {
    font: bold 20px Arial,sans-serif;
    color: rgba(255,255,255, 0.8);
    float: left;
    text-shadow: 0 0.1em 0 rgba(255, 255, 255, 0.2);
    display: inline-block;
    outline: none;
    cursor: pointer;
    padding: 0.4em 2em 0.5em;
    margin-left: 90px;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
    border: 1px solid black;
    background-color: #000;
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(100%, #d4d4d4));
    background-image: -moz-linear-gradient(#000, #171717);
    background-image: -webkit-linear-gradient(#000, #171717);
    background-image: linear-gradient(#000, #171717);
    -moz-box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.7), 0 0.1em 0.2em rgba(0, 0, 0, 0.5), 0 -0.1em 0.07em rgba(0, 0, 0, 0.3) inset, 0 0.1em 0.07em rgba(255, 255, 255, 0.2) inset;
    -webkit-box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.7), 0 0.1em 0.2em rgba(0, 0, 0, 0.5), 0 -0.1em 0.07em rgba(0, 0, 0, 0.3) inset, 0 0.1em 0.07em rgba(255, 255, 255, 0.2) inset;
    box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.7), 0 0.1em 0.2em rgba(0, 0, 0, 0.5), 0 -0.1em 0.07em rgba(0, 0, 0, 0.3) inset, 0 0.1em 0.07em rgba(255, 255, 255, 0.2) inset;
    -moz-transition: all 100ms;
    -o-transition: all 100ms;
    -webkit-transition: all 100ms;
    transition: all 100ms;
}
.button-normal:hover {
  color: rgba(49,49,49, 0.8);
  border-color: #7997a1;
  background-image: -moz-linear-gradient(#add8e6, #7997a1);
  background-image: -webkit-linear-gradient(#add8e6, #7997a1);
  background-image: linear-gradient(#add8e6, #7997a1);
  -moz-box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.4), 0 0.1em 0.2em rgba(0, 0, 0, 0.4), 0 -0.1em 0.07em rgba(0, 0, 0, 0.3) inset, 0 0.1em 0.07em rgba(255, 255, 255, 0.2) inset;
  -webkit-box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.4), 0 0.1em 0.2em rgba(0, 0, 0, 0.4), 0 -0.1em 0.07em rgba(0, 0, 0, 0.3) inset, 0 0.1em 0.07em rgba(255, 255, 255, 0.2) inset;
  box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.4), 0 0.1em 0.2em rgba(0, 0, 0, 0.4), 0 -0.1em 0.07em rgba(0, 0, 0, 0.3) inset, 0 0.1em 0.07em rgba(255, 255, 255, 0.2) inset;
}
.button-normal:active {
  padding: 0.4em 2em 0.4em;
  margin-top: 0.1em;
  border-color: #a2a2a2 #bbbbbb #eee;
  color: #000;
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e1e1e1), color-stop(100%, #eeeeee));
  background-image: -moz-linear-gradient(#e1e1e1, #eeeeee);
  background-image: -webkit-linear-gradient(#e1e1e1, #eeeeee);
  background-image: linear-gradient(#e1e1e1, #eeeeee);
  -moz-box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.1) inset, 0 0.1em 0.1em rgba(0, 0, 0, 0.2) inset, 0.05em 0 0.07em rgba(0, 0, 0, 0.2) inset, -0.05em 0 0.07em rgba(0, 0, 0, 0.2) inset;
  -webkit-box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.1) inset, 0 0.1em 0.1em rgba(0, 0, 0, 0.2) inset, 0.05em 0 0.07em rgba(0, 0, 0, 0.2) inset, -0.05em 0 0.07em rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.1) inset, 0 0.1em 0.1em rgba(0, 0, 0, 0.2) inset, 0.05em 0 0.07em rgba(0, 0, 0, 0.2) inset, -0.05em 0 0.07em rgba(0, 0, 0, 0.2) inset;
  -moz-transition: all 10ms;
  -o-transition: all 10ms;
  -webkit-transition: all 10ms;
  transition: all 10ms;
}

.button-extended {
  font: bold 20px Arial,sans-serif;
  color: rgba(0,0,0, 0.8);
  float: left;
  text-shadow: 0 0.1em 0 rgba(0, 0, 0, 0.5);
  display: inline-block;
  outline: none;
  cursor: pointer;
  padding: 0.4em 2em 0.5em;
  margin-left: 90px;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
  border: 1px solid;
  border-color: #fff #a2a2a2 #d6d6d6;
  background-color: #000;
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(100%, #d4d4d4));
  background-image: -moz-linear-gradient(#fff, #d6d6d6);
  background-image: -webkit-linear-gradient(#fff, #d6d6d6);
  background-image: linear-gradient(#fff, #d6d6d6);
  -moz-box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.1), 0 0.1em 0.2em rgba(0, 0, 0, 0.3), 0 -0.1em 0.07em rgba(0, 0, 0, 0.3) inset, 0 0.1em 0.07em rgba(255, 255, 255, 0.2) inset;
  -webkit-box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.1), 0 0.1em 0.2em rgba(0, 0, 0, 0.3), 0 -0.1em 0.07em rgba(0, 0, 0, 0.3) inset, 0 0.1em 0.07em rgba(255, 255, 255, 0.2) inset;
  box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.1), 0 0.1em 0.2em rgba(0, 0, 0, 0.3), 0 -0.1em 0.07em rgba(0, 0, 0, 0.3) inset, 0 0.1em 0.07em rgba(255, 255, 255, 0.2) inset;
  -moz-transition: all 100ms;
  -o-transition: all 100ms;
  -webkit-transition: all 100ms;
  transition: all 100ms;
}
.button-extended:hover {
    color: rgba(49,49,49, 0.8);
    border-color: #fff #DCD5D5 #7e7e7e;
    background-image: -moz-linear-gradient(#add8e6, #7997a1);
    background-image: -webkit-linear-gradient(#add8e6, #7997a1);
    background-image: linear-gradient(#add8e6, #7997a1);
    -moz-box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.7), 0 0.1em 0.2em rgba(0, 0, 0, 0.5), 0 -0.1em 0.07em rgba(0, 0, 0, 0.3) inset, 0 0.1em 0.07em rgba(255, 255, 255, 0.2) inset;
    -webkit-box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.7), 0 0.1em 0.2em rgba(0, 0, 0, 0.5), 0 -0.1em 0.07em rgba(0, 0, 0, 0.3) inset, 0 0.1em 0.07em rgba(255, 255, 255, 0.2) inset;
    box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.7), 0 0.1em 0.2em rgba(0, 0, 0, 0.5), 0 -0.1em 0.07em rgba(0, 0, 0, 0.3) inset, 0 0.1em 0.07em rgba(255, 255, 255, 0.2) inset;
}
.button-extended:active {
  padding: 0.4em 2em 0.4em;
  margin-top: 0.1em;
  color: #fff;
  text-shadow: rgba(200,200,200, 0.5);
  border-color: #000 #a2a2a2 #171717;
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e1e1e1), color-stop(100%, #eeeeee));
  background-image: -moz-linear-gradient(#000, #171717);
  background-image: -webkit-linear-gradient(#000, #171717);
  background-image: linear-gradient(#000, #171717);
  -moz-box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.1) inset, 0 0.1em 0.1em rgba(0, 0, 0, 0.2) inset, 0.05em 0 0.07em rgba(0, 0, 0, 0.2) inset, -0.05em 0 0.07em rgba(0, 0, 0, 0.2) inset;
  -webkit-box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.1) inset, 0 0.1em 0.1em rgba(0, 0, 0, 0.2) inset, 0.05em 0 0.07em rgba(0, 0, 0, 0.2) inset, -0.05em 0 0.07em rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.1) inset, 0 0.1em 0.1em rgba(0, 0, 0, 0.2) inset, 0.05em 0 0.07em rgba(0, 0, 0, 0.2) inset, -0.05em 0 0.07em rgba(0, 0, 0, 0.2) inset;
  -moz-transition: all 10ms;
  -o-transition: all 10ms;
  -webkit-transition: all 10ms;
  transition: all 10ms;
}
